{% extends "base.html" %}

{% block titulo %} Quem Somos {% endblock %}

{% block conteudo %}
    <div>
        <h1>Quem Somos</h1>
        <p style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, reiciendis! Nam animi accusamus ullam dolorem rerum voluptatibus fugit vel delectus, quia illo excepturi eum deserunt quasi, odio ducimus. Aut, minima.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati expedita soluta, distinctio voluptatum rerum enim debitis unde temporibus reprehenderit repellendus quia animi beatae quo consequatur ducimus at optio quidem praesentium!Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum incidunt esse, tempora culpa velit in sit harum deserunt ex exercitationem earum architecto minima laudantium ipsam, repellendus doloremque nihil libero similique!
        </p>
        <hr>
    <div>
        <h1>5 motivos para estudas</h1>
        <br>
        <ol>
            <li>Material sempre atualizado</li><br>
            <li>Tablets em sala de aula</li><br>
            <li>Professores renomados</li><br>
            <li>Universidade bem avaliada</li><br>
            <li>Otima localização</li>
        </ol>
    </div>
        <br>
        <hr>
        
        <h1>Objetivos</h1>
        <p style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, reiciendis! Nam animi accusamus ullam dolorem rerum voluptatibus fugit vel delectus, quia illo excepturi eum deserunt quasi, odio ducimus. Aut, minima.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati expedita soluta, distinctio voluptatum rerum enim debitis unde temporibus reprehenderit repellendus quia animi beatae quo consequatur ducimus at optio quidem praesentium!Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum incidunt esse, tempora culpa velit in sit harum deserunt ex exercitationem earum architecto minima laudantium ipsam, repellendus doloremque nihil libero similique!
        </p>
    </div>

{% endblock %}